p {
	text-align: center;
}

button {
	font-size: 35px;
}

div {
	text-align: center;
}

.question {
	font-size: 75px;
	background-color: #FFF;
}

.line-separator {
    height: 30px;
}

html {
    background-image: url(https://c1.staticflickr.com/3/2233/2435161563_d1367895e7_z.jpg?zz=1);
}