p {
	text-align: center;
}

button {
	font-size: 35px;
}

div {
	text-align: center;
}

.question {
	font-size: 75px;
}

.line-separator {
    height: 30px;
}

img {
	margin-left: 37vw;
}

h1 {
	font-size: 75px;
	color: #FFF;
	text-align: center;
}